.content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: solid 1px #000;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 4px 7px 42px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 4px 7px 42px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 4px 7px 42px 0px rgba(0,0,0,0.75) inset;

        h3 {
            text-transform: capitalize;
        }

        img {
            width: 100px;
            max-height: 143px;
        }

        .types {
            display: flex;
            gap: 8px;
        }
    }

}

.btn {
    display: flex;
    gap: 8px;

    button {
        padding: 8px;
        border-radius: 8px;
        width: 80px;
        background-color: #b4b4b4;
        border: transparent;
    }

    button:hover {
        background-color: #787878;
    }
}

.btn-create {
    margin-bottom: 32px;
    
    button {
        padding: 8px;
        border-radius: 8px;
        border: solid 0.5px;
        background-color: #b4b4b4;
    }
    button:hover {
        background-color: #787878;
    }
}

h1 {
    text-align: center;
    font-weight: 600;
}