.modal {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 85%;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: #FFF;
        font-weight: 700;

        .btn {
            display: flex;
            gap: 8px;

            button {
                padding: 8px;
                border-radius: 8px;
                width: 80px;
                background-color: #b4b4b4;
                border: transparent;
            }

            button:hover {
                background-color: #787878;
            }
        }
    }

}